
#canvas {
	margin-top: 40px;
	display: inline-block;
}

#topbar {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	text-align: center;
	padding: 7px;
}

#topbar .progress {
	width: 70px;
	margin: 0 2px;
	display: inline-block;
}

#left {
	text-align: left;
	position: absolute;
	left: 5px;
}

#right {
	text-align: right;
	position: absolute;
	right: 5px;
}

.flip {
	-moz-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	transform: scaleX(-1);
}

#tooltip {
	min-height: 4.7em;
	border-top: 2px solid #D3D3D3;
	border-bottom: 2px solid #D3D3D3;
}

button {
	background: white;
	border: 2px solid lightblue;
	border-radius: 5px;
	padding: 3px;
	margin: 3px 1px;
	text-align: left;
	outline: none;
}

button:hover {
	background-color: lightgreen;
	border-color: lightgreen;
}

button img {
	height: 24px;
}

#left td {
	line-height: 1em;
	padding: 1px;
}

/* === UNIT IMAGES === */
/* TODO: refactor this stuff */
.unit {
	width: 24px;
	height: 24px;
	border-color: lightgrey;
	background-color: lightgrey;
	background-image: url('/visual/unitsheet.png');
	box-sizing: content-box;
	background-clip: content-box;
	background-origin: content-box;
}

.unit-sniffer  { background-position:  0px   0px; }
.unit-peeper   { background-position:  0px -24px; }
.unit-bouncer  { background-position:  0px -48px; }
.unit-enforcer { background-position:  0px -72px; }
.unit-seeker   { background-position: 72px   0px; }
.unit-cleaner  { background-position: 72px -24px; }
.unit-carrier  { background-position: 72px -48px; }