
.tabs {
	float: none;
	list-style: none;
	position: relative;
	text-align: left;

	height: 57px;
	border-bottom: 5px solid #000;
	background: lighten($background-color, 8);
	padding-top: 10px;

	input[type="radio"] {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	label {
		display: block;
		padding: 7px 28px;
		border-radius: 2px 2px 0 0;
		margin-right: 1px;
		font-size: 20px;
		font-weight: normal;
		text-transform: uppercase;
		background: black;
		cursor: pointer;
		position: relative;
		top: 4px; 
		transition: all 0.2s ease-in-out;
	}

	li {
		float: left;
		display: block;
	}
}

.tab-content {
	position: relative;
	display: none;

	z-index: 2;
	display: none; 
	overflow: hidden;
	width: 100%;
	font-size: 17px;
	line-height: 25px;
	padding: 25px;  
	position: absolute;
	top: 53px;
	left: 0; 
}

[id^="tab"]:checked {
	+ label { 
		top: 0;
		padding-top: 10px; 
	}

	~ [id^="tab-content"] {
		display: block;
	}
}
