
$background-color: #34343F;

@import 'tabs';
@import 'lobby';
@import 'game';

body {
	text-align: center;
	background: $background-color;
	color: white;
}

.flip {
	-moz-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	transform: scaleX(-1);
}
