body {
	text-align: center;
	background: #34343F;
	color: white;
}

#canvas {
	margin-top: 40px;
	display: inline-block;
}

#topbar {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	text-align: center;
	padding: 7px;
}

#topbar .progress {
	width: 70px;
	margin: 0 2px;
	display: inline-block;
}

#left {
	text-align: left;
	position: absolute;
	left: 0;
}

#right {
	text-align: right;
	position: absolute;
	right: 0;
}

.flip {
	-moz-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	transform: scaleX(-1);
}

#tooltip {
	min-height: 2em;
}

button {
	background: white;
	border: 2px solid lightblue;
	border-radius: 5px;
	padding: 3px;
	margin: 2px;
	text-align: left;
	outline: none;
}

button:hover {
	background: lightblue;
	border-color: darkblue;
}

button img {
	height: 24px;
}
